body {
  height: 100vh;
  margin: 40px 0px 0px 0px;
  background-color: #58e065;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.display {
  display: flex;
  left: 50%;
  align-items: center;
  justify-content: center;
  font-family: "nunito", "poppins", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: white;
  text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);
}

p {
  margin: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  height: 30px;
  width: 80px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #3b85ed;
  font-family: "nunito", "poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  box-shadow: 3px 3px 0px #224f8f;
  margin: 4px;
}

button:hover {
  background-color: #224f8f;
}

h1 {
  position: sticky;
  background-color: #ff961d;
  display: flex;
  justify-content: center;
  margin: 30px;
  font-family: "nunito", "poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);
  border-radius: 10px;
  box-shadow: 3px 3px 0px rgb(179, 101, 0);
}

#header {
  width: 100%;
  height: 100px;
  position: sticky;
}

#laps {
  margin-top: 40px;
  height: 400px;
  scroll-behavior: smooth;
}